apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{- include "ghrunner-unibe.secretProviderClassName" . | nindent 4 }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "ghrunner-unibe.secretProviderClassLabels" . | nindent 4 }}
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    clientID: "{{ .Values.secretManagement.clientId }}"
    keyvaultName: "{{ .Values.secretManagement.keyVault.name }}"
    cloudName: ""
    objects:  |
      array:
      {{- range .Values.secretManagement.keyVault.objects }}
        - |
          objectName: "{{ .name }}"
          objectType: "secret"
          objectVersion: ""
      {{- end }}
    tenantId: "{{ .Values.secretManagement.tenantId }}"
  secretObjects:
    - data:
      {{- range .Values.secretManagement.keyVault.objects }}
        - key: "{{ .name }}"
          objectName: "{{ .value }}"
      {{- end }}
      secretName: "{{ .Values.github.githubConfigSecret }}"
      type: Opaque